main {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}

.choice {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.1rem;
  max-width: 40rem;
  padding: 1rem 7rem;
  text-transform: capitalize;
  background-color: var(--card-color);
  border-radius: 5px;
  cursor: pointer;
  color: #92b0be;
  letter-spacing: 1.1px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #c7e7f5;
}

.choice:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #9eafb780;
}

.choice {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #c6ffd3;
  color: #61976d;
  border-color: #cfeedf;
}

.incorrect {
  background-color: #fc9ca5;
  color: #b0545d;
  border-color: #dd8d95;
}

#question {
  line-height: 2.5rem;
  max-width: 40rem;
  word-wrap: break-word;
}

/* HUD */

#hud {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text,
.question-number {
  text-align: center;
  color: #92b0be;
}

#progressBar {
  width: 20rem;
  height: 1rem;
  border: 0.1rem solid #c7e7f5;
}

#progressBarFull {
  height: 100%;
  background-color: #c7e7f5a6;
  width: 0%;
}

.label {
  font-size: 1.3rem;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #92b0be;
  width: 12rem;
  height: 12rem;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
