:root {
  /* font-size: 62.5%; */
  --primary-color: #000000;
  --font-size-medium: 16px;
  --card-color: #c7e7f54d;
  --body-background: #f9f9f9;
  --font-color: #000000;
  --hover: #383838;
  background-color: var(--body-background);
}

html {
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "DejaVu Sans", "sans";
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;
}

/* UTILITIES */

header {
  position: sticky;
  top: 0;
}

main {
  overflow-y: auto;
  flex: 1;
  padding: 0 2rem;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: var(--body-background);
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}
#home {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.3rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid;
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #9eafb780;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled],
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  background-color: #e9e9e9;
  border-color: transparent;
}

.primary {
  background-color: #95b2c1;
  color: white;
  border-color: #8ba8b7;
}

.secondary {
  border: 1px solid #95b2c1;
  background-color: transparent;
  color: #95b2c1;
}

.page-title {
  color: #7b94a1;
  line-height: 5rem;
  letter-spacing: 0.5px;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0.1rem 1.4rem 0 #97979780;
}

input:focus-visible {
  outline-color: #95b2c1;
}

input::placeholder {
  color: #aaa;
}

.title-name {
  font-size: 1.3rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
  color: white;
}

.name,
.sign {
  margin-top: 0;
}

.main-title {
  text-align: start;
  margin: 1.6rem 0 0.5rem 0;
}

a {
  display: inline-block;
  margin: 0.5rem;
  width: fit-content;
}

::-webkit-scrollbar {
  height: 0.563rem;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #c7e7f5;
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 0.7rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
