ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    max-width: 57rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--card-color);
    color: white;
    border-radius: 5px;
    height: 140px;
    cursor: pointer;
    border: 1px solid #c7e7f5;
}

.category-item i {
    padding: 1rem;
    background: #ffffff73;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 1rem;
    color: #7794a2;
}

.category-name {
    color: #92b0be;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
    font-weight: 600;
}

.grid-item:hover,
.selected {
    background-color: #95b2c1;
}

.grid-item:hover i,
.selected i {
    background-color: #fff;
}

.grid-item:hover .category-name,
.selected .category-name {
    color: white;
}

main {
    overflow-y: auto;
    flex: 1;
}

/* @media screen and (max-width: 670px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
} */
