ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
    height: 15rem;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #85bfee;
}

/* @media screen and (max-width: 670px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
} */
